PDE/Prática/Trabalho/receitas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified"
        targetNamespace="receitas"
        xlmns="receitas">

    <xs:element name="categoria">
        <xs:simpleType>
            <xs:restriction>
                <xs:pattern value="entrada | sobremesa | prato-principal"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="dificuldade">
        <xs:simpleType>
            <xs:restriction>
                <xs:pattern value="simples | médio | díficil"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="tempo">
        <xs:simpleType>
            <xs:restriction>
                <xs:pattern value="rápido | médio | lento"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="custo">
        <xs:simpleType>
            <xs:restriction>
                <xs:pattern value="barato | médio | caro"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>


    <xs:element name="data-publicacao" type="xs:date"/>
    <xs:element name="ilustração" type="xs:anyURI"/>
    <xs:element name="resumo" type="xs:simpleType"/>
    <xs:element name="titulo" type="xs:simpleType"/>
    <xs:element name="texto-introdutorio" type="xs:simpleType"/>
    <xs:element name="autor" type="xs:simpleType"/>
    <xs:element name="nome" type="xs:simpleType"/>
    <xs:element name="unidade-medida" type="xs:simpleType"/>
    <xs:element name="calorias" type="xs:int"/>
    <xs:element name="quantidade" type="xs:int"/>
    <xs:element name="texto" type="xs:simpleType"/>

    <xs:element name="passo" >
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="ingredienteRef" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="ilustracao" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="cabecalho">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo"/>
                <xs:element ref="autor" maxOccurs="unbounded" minOccurs="1"/>
                <xs:element ref="data-publicacao"/>
                <xs:element ref="resumo"  minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ingrediente">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nome"/>
                <xs:element ref="quantidade" minOccurs="0"/>
                <xs:element ref="unidade-medida" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="receita">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nome"/>
                <xs:element ref="calorias"  minOccurs="0"/>
                <xs:element ref="ilustração"/>
                <xs:choice>
                    <xs:element ref="ingredientes" />
                    <xs:element ref="ingredientesRef"/>
                </xs:choice>
                <xs:choice>
                    <xs:element ref="instruções" />
                    <xs:element ref="instruçõesRef"/>
                </xs:choice>
                <xs:choice>
                    <xs:element ref="passo" maxOccurs="unbounded"  />
                    <xs:element ref="texto"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sub-seção">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo"/>
                <xs:element ref="texto-introdutorio"  minOccurs="0"/>
                <xs:element ref="ilustração"/>
                <xs:element ref="receita"  maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="seção">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo"/>
                <xs:element ref="texto-introdutorio"  minOccurs="0"/>
                <xs:element ref="ilustração"/>
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element ref="receita"/>
                    <xs:element ref="sub-seção"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="parte">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo"/>
                <xs:element ref="texto-introdutorio" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="ilustração"/>
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element ref="receita"/>
                    <xs:element ref="seção"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="receitas">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cabecalho"/>
                <xs:element ref="parte" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

